In [2]:
import pandas as pd
import requests
import os
from pathlib import Path
from dotenv import load_dotenv

In [6]:
kickers_csv = Path("resources/kickers_2019.csv")
kickers19_df = pd.read_csv(kickers_csv)
kickers19_df.head()

   Rank           Player   Tm  FGM 0-49  FGM 50+  Total FGM  Extra Points Made
0     1  Harrison Butker  KAN      31.0      3.0       34.0               45.0
1     2        Wil Lutz*  NOR      29.0      3.0       32.0               48.0
2     3    Zane Gonzalez  ARI      29.0      2.0       31.0               34.0
3     4         Matt Gay  TAM      22.0      5.0       27.0               43.0
4     5       Josh Lambo  JAX      29.0      4.0       33.0               19.0

In [5]:
defense_csv = Path("resources/defense_2019.csv")
defense19_df = pd.read_csv(defense_csv)
defense19_df.head()

,Team,Punt Return TD,Kick Return TD,2 Points Made,Field Goals Made,Safety,Sacks,Interceptions,Fumble Recovery,D/ST Touchdowns
0,Arizona Cardinals,1,0,0,27,0,46.4,10.5,7.9,2.0
1,Atlanta Falcons,0,0,2,30,0,39.1,11.6,8.9,2.0
2,Baltimore Ravens,0,1,3,27,0,45.4,15.8,8.1,5.0
3,Buffalo Bills,0,1,4,16,1,38.2,16.1,8.9,2.5
4,Carolina Panthers,3,0,2,27,0,41.2,12.6,9.9,2.0